@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e111b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hindFont{
  font-family: 'Hind', sans-serif;
}

.montFont{
  font-family: 'Montserrat', sans-serif;
}

.primaryColor{
  background-color: #2D3758;
}

.secondaryColor{
  background-color: #131725;

}

.bgColor{
  background-color: #0e111b;
}

#footer{
  background-color: #131725;
}

.accentColor{
  background-color: #5a6daa;
}
